# In order to use your own signing when build apk,
# copy this file to ./keystore.properties and fill in the following config in the new file.
storePassword=<yourStorePassword>
keyPassword=<yourKeyPassword>
keyAlias=<yourKeyAlias>
storeFile=<yourStoreFileLocation>